body{margin:0}#render-container{background:radial-gradient(#fff,#aaa);position:fixed;width:100vw;height:100vh}#renderer-canvas{width:100%;height:100%}#controls-container{width:390px;position:absolute;top:10px;right:10px}
